
  
  <section class="main-header">
    <div class=top></div>
  </section>
  <div class="about">
    <h1> GIG BUDDY</h1>
    <p>
    あなたの気になるライブに行きたい人がわかる！<br>
    音楽ライブなどのイベントに一緒に行く仲間を探せるアプリ「GIG BUDDY」
    </p>
  </div>
