<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Achieve</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="index.scss">
</head>

<body>
  
  <section class="main-header">
    <div class=top></div>
  </section>
  <section class="about">
    <h1> GIG BUDDY</h1>
    <p>
      Achieveは、受講生のために作成された、教材用アプリです。<br>
      Achieveを作り終えることで、SecondTeamに参加するための力を身につけることができます。
    </p>
  </section>
 
</body>
</html>
